
<h2>Choose your ingredients</h2>
<p>What's going into your drink?</p>
{{pantry | json}}
<div *ngFor="let category of pantryData.pantry">
  <h3 class="ingredient-category-header">{{category.title}}</h3>

  <div *ngFor="let ingredient of category.ingredients" 
    (click)="addIngredient(ingredient)"
    class="card card-block ingredient-card">
    <div class="ingredient-description">
    	<h4 class="ingredient-name">{{ingredient.name}}</h4>
    	<ul class="ingredient-features">
    		<li>Vitamin A & K</li>
    		<li>Niacin & Zinc</li>
    		<li>Dietary fiber</li>
    	</ul>
    </div>
  </div>
</div>
