<div class="container">
  <div class="header clearfix">
    <h1 class="text-muted">{{title}}</h1>
  </div>

  <div class="row">
    <div class="col-md-5">
      <app-ingredient-list></app-ingredient-list>
    </div>
    <div class="col-md-7">
      <div class="card card-block">
        <h2>Blender</h2>
        <button class="btn btn-lg btn-success">Blend!</button>
      </div>
    </div>
  </div>

  <footer class="footer">
    <p>&copy; 2017 created by Nicole Oliver</p>
  </footer>

</div> <!-- /container -->