@import '../sass/_common-vars';

.main-container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.ingredients-container {
  background-color: $color-neutral;
  width: 45%;
  padding: 2em;
  // height: 600px;
}
.blender-container {
  width: 55%;
  position: fixed;
  padding: 2em;
}

// app title img
#app-title {
  display: block;
  float: right;
  margin: 1em 0 0 1em;
  max-width: 300px;
  position: relative;
}

footer {
  color: $color-dark;
  margin-top: 2em;
  text-align: right;
}