@import '../sass/_colors';

.main-container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.ingredients-container {
  background-color: $color-neutral;
  width: 45%;
}
.blender-container {
  width: 55%;
}

// app title img
#app-title {
  display: block;
  float: right;
  margin: 1em 0 0 1em;
  max-width: 300px;
  position: relative;
}