<!-- <loading [completed]="loadingCompleted"></loading> -->

<div class="main-container">
  <div class="ingredients-container">
    <app-ingredient-list></app-ingredient-list>
  </div>
  <div class="blender-container">
    <div class="header clearfix">
      <div class="animated tada">
        <img id="app-title" src="/assets/app-title.png" />
      </div>
      
    </div>

    <app-blender></app-blender>

    <footer class="footer">
      <p>&copy; 2017 <a href="https://github.com/nixallover" title="GitHub profile">Nicole Oliver</a></p>
    </footer>
  </div>
</div> <!-- /container -->