@import '../../sass/_common-vars';

.blender {
  background-color: lighten($color-base, 10);
  border: none;
  border-radius: $border-radius;
  margin-bottom: 1em;
  min-height: 200px;
}

.btn-blend {
  width: 100%;
  border-radius: 35px;
  min-height: 70px;
  color: $color-white;
  font-size: 150%;
  background-color: $color-secondary;

  &:hover {
    background-color: darken($color-secondary, 10);
  }
}

.active-ingredient {
  background: lighten($color-neutral, 10) url("assets/generic.png") no-repeat right center;
  border-radius: $border-radius;
  background-color: $color-white;
  color: $color-secondary;

  .active-ingredient-title {
    padding: 1.5rem;
  }

  .close {
    // background-color: $color-secondary;
    color: $color-secondary;
    float: right;
    padding: 1.5rem;
    font-weight: bold;

    // &:hover {
    //   background-color: darken($color-secondary, 10);
    // }
  }
}